---
import Button from "./Button.astro";

const { title, url, notes, priority, needs, has, image } = Astro.props.data;

---

<div class="list-view__item l-sidebar" style="--sb-align: center;">
  <div class="item-image is-sidebar">
    <img
      width="160"
      src={image}
      alt=""
    />
  </div>
  <div class="l-cluster" style="--cl-justify: space-between;">
    <div>
      <h3>{title}</h3>
      <div class="item-notes">
        <i>{notes}</i>
      </div>
      <div><small>Priority: {priority} | Needs: {needs}</small></div>
    </div>

    <Button url={url}/>
  </div>
</div>

<style>


  .list-view__item .item-image {
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-2x);
  }

  .list-view__item {
    padding: var(--s3) 0;
  }

  .list-view__item:not(:first-child) {
    border-top: 1px solid var(--light-gray);
  }
</style>
